[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/miniaudio"]
	path = extern/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "extern/moira"]
	path = extern/moira
	url = https://github.com/dirkwhoffmann/Moira
